<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cashclash.Main"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="cs2114-project1-group82-"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value=""/>
</launchConfiguration>